/*
* @Author: lilong
* @Date:   2017-06-25 15:19:29
* @Last Modified by:   lilong
* @Last Modified time: 2017-06-25 15:21:56
*/


header{
	position:relative;
}
.person-name{
	width: 200px;
	height: 100px;
	background-color: red;
	position:absolute;
	right: 30px;
	bottom:0;
}